.body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.people-need{
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-color: rgb(0,0,0,5);
    background-size: 100%;
    padding-top: 80px;
    padding-bottom:250px;
    color: white;
    text-align: center;
    
}
.container{
    display: flex;
    justify-content: space-evenly;
    

    
    
}
#taka{
    color: brown;
    padding: 10px 40px;
    margin: 5px 10px;
    border: 5px solid brown;
}
.donation-ammount{
    text-align: center;
    margin-top: 70px;
    padding: 100px;
}
.others{
    color: gray;

}
.title{
    text-align: center;
    margin-top: 70px;
    padding: 50px;
    
    
}
.card1{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 5px;
    background-color: paleturquoise;
}
.food-icon{
    width: 50px;
    position: left;

}
.donate-plan{
    display: flex;
    justify-content: space-evenly;
}
.card2{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 5px;
    background-color: thistle;
}
    .card3{
        width: 300px;
        height: 300px;
        border: 1px solid gray;
        text-align: center;
        box-shadow: 8px 8px 16px gray;
        padding: 20px;
        border-radius: 5px;
        background-color: lightgoldenrodyellow;
    }
    .depend-on-donation{
        display: flex;
        margin-bottom: 150px;
        margin-top: 70px;
        padding: 50px;
    
    }
    .half-width{
        width: 50%;
        padding-left: 2%;
    }
    .half-width img{
        width: 80%;

    }
